/* Style the sidebar - fixed full height */

.toolbox {
    border-radius: 20px 20px 20px 20px;
    background: #606060;
    padding: 10px; 
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0%;
    left: 0%;
}

.component {
    width: 100px;
    height: 100px;
    position: center;
    background-color: transparent;
    cursor: pointer;
}

.component:active {
    background-color: #add8e6;
}

.main {
    width: 3840px;
    height: 2160px;
    overflow: hidden;
}

body {
    overflow: auto;
}
